/**
 * @file
 * getlocations_leaflet.css
 * @author Bob Hutchinson https://backdropcms.org/account/hutch
 * @copyright GNU GPL
 *
 * getlocations_gps css.
 *
 */
.getlocations_gps_throbber {
  background-image: url('/modules/getlocations/images/throbber.gif');
  background-position: 100% 2px;
/*  background-repeat: repeat-y;*/
}
.getlocations_gps_throbber_active {
  background-position: 100% -18px;
}
.getlocations_gps_throbber_inactive {
  background-position: 100% 2px;
}
