/**
 * @file
 * getlocations_smartip.css
 * @author Bob Hutchinson https://backdropcms.org/account/hutch
 * @copyright GNU GPL
 *
 */
.getlocations_smartip_throbber {
  background-image: url('/modules/getlocations/images/throbber.gif');
  background-position: 100% 2px;
/*  background-repeat: repeat-y; */
}
.getlocations_smartip_throbber_active {
  background-position: 100% -18px;
}
.getlocations_smartip_throbber_inactive {
  background-position: 100% 2px;
}
